@media screen and (max-width: 1900px) {
    section {
        font-size: 65px;
        line-height: 85px;
    }
        form {
            font-size: 30px;
            line-height: 40px;
        }
        #resposta {
            font-size: 25px;
            height: 45px;
            margin-top:8.5%;
        }
        #send {
            height: 45px;
            font-size: 20px;
            margin-top: 8.5%;
        }
        #SiglaMaiorQue {
            margin-top: 9.5%;
        }   
}


@media screen and (max-width: 1366px) {
    section {
        font-size: 60px;
        line-height: 80px;
    }
    form {
        font-size: 25px;
        line-height: 35px;
    }
    #resposta {
        width: 250px;
        font-size: 25px;
        height: 45px;
        margin-top: 8%;
    }
    #send {
        height: 45px;
        font-size: 20px;
        margin-top: 8%;
    }
    #SiglaMaiorQue {
        margin-top: 9.7%;
    }
    
}

@media screen and (max-width: 1024px) {
    header {
        font-size: 17px;
    }
    section {
        font-size: 47px;
        line-height: 57px;
    }
    form {
        font-size: 20px;
        line-height: 30px;
    }
    #resposta {
        width: 250px;
        font-size: 20px;
        height: 40px;
    }
    #send {
        height: 40px;
        font-size: 15px;
    }    
}