.card {
    position: relative;
    border-radius: 50px;
    width: 40vw;
    height:52vh;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.card:hover, .card:focus, .card:active  {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
    background: #ffffff27;
}
.card img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 750px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 0.5s;
}
.card:hover img, .card:focus img, .card:active img {
    top: 20%;
    left: -12%;
    width: 10vw;
}
.card .content {
    position: relative;
    font: 400 3vh/6vh 'Courier Prime', monospace;
    text-align: justify;
    margin-left: 5.5%;
    margin-right: 2%;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .content, .card:focus .content, .card:active .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width: 1024px) {
    .card {
        width: 80vw;
    }
    .card .content {
        font: 400 4.5vw/6vw 'Courier Prime', monospace;
    }
    .card img {
        width: 80vw;
    }
    .card:hover img, .card:focus img, .card:active img {
        top: -7.5%;
        left: 11%;
        width: 10vw;
    }
    #p1 {
        font: 400 5vw 'Courier Prime', monospace;
    }
}