#contatos {
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#emailCel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
}
#gitLinkedin {
    display: flex;
    justify-content: space-around;
}
#contatos p {
    font: 400 1.81vw 'Courier Prime', monospace;
}
.linkscontato {
    width: 10vw;
}

@media screen and (max-width: 1024px) {
    #contatos {
        width: 80vw;
        height: 60vh;
    }
    #contatos p {
        font: 400 4vw 'Courier Prime', monospace;
        text-align: center;
    }
    .linkscontato {
        width: 20vw;
    }
}