#projetos {
    width: 40.43vw;
    display: flex;
    flex-wrap: wrap;
}
.projetos {
    width: 19vw;
    height: 19vw;
    margin: 1.5%;
    background: #ffffff27;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.500);
    font: 400 2vw/2.5vw 'Courier Prime', monospace;
}
.projetos a{
    height: 100%;
}
.projetos img{
    opacity: 0.5;
    height: 100%;
    transition: 0.5s;
}
.projetos:hover, .projetos:focus, .projetos:active {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
    color: white;
    background: #ffffff49;
    cursor: pointer;
}
.projetos:hover img, .projetos:focus img, .projetos:active img{
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    #projetos {
        width: 80vw;
        font: 400 4vw/4.5vw 'Courier Prime', monospace;
    }
    .projetos {
        width: 37.6vw;
        height: 37.6vw;
    }
}