* {
    margin: 0;
    padding: 0;
}
.a {
    height: 200px;
}
body {
    background: rgb(0,0,0);
    background: linear-gradient(142deg, rgba(0,0,0,1) 10%, rgb(69, 15, 94) 50%, rgba(0,0,0,1) 90%);
    background-attachment: fixed;
    color: white;
    text-decoration: none;
}
header {
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 6vh;
    background: #9022C3;
    box-shadow: 0px 7px 9px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.603);
    font: 400 1vw/20px 'Courier Prime', monospace;
}
#logoimg {
    height: 5vh;
    margin-right: 5px;
    margin-left: .5vw;
}
#logo{
    display: flex;
    align-items: center;
}
#menu {
    display: flex;
    list-style: none;
}
#menu a {
    text-decoration: none;
    color: inherit;
    padding-right: .5vw;
    padding-left: 6px;
}
#mobile-menu {
    display: none;
    cursor: pointer;
    border: none;
    background: none;
}
#mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
section {
    height: 94vh;
    padding-top: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    font: 400 40px/55px 'Courier Prime', monospace;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.877);
    text-align: center;
}
.titulos {
    font: 400 3vw 'Courier Prime', monospace;
}
footer {
    height: 100px;
    font: 400 25px/20px 'Courier Prime', monospace;
    display: flex;
    align-items: center;
}
footer #copyright {
    margin-left: 10px;
}




@media screen and (max-width: 1024px) {
    .titulos {
        font: 400 7vw 'Courier Prime', monospace;
    }
    header {
        width: 100%;
        font: 400 2.5vw/4vw 'Courier Prime', monospace;
    }
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 6vh;
        right: 0;
        width: 100vw;
        height: 94vh;
        background: #9022c3c9;
        transform: translateX(100%);
        font: 400 4vw/4vw 'Courier Prime', monospace;
        transition: 0.5s;
    }
    #mobile-menu {
        display: block;
        margin-left: 57.4vw;
    }
    #nav-list.active #menu {
        transform: translateX(0);
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    footer {
        font: 400 3vw 'Courier Prime', monospace;
    }
}




.azul {
    color:#0085FF;
}
.azulclaro {
    color: #B4E6FF;
}
.marrom {
    color: #FFAC60;
}
.rosa {
    color: #FF3CEB;
}
.amarelo {
    color: #FFD600;
}
.amareloclaro {
    color: #fffab4;
}

